@charset "UTF-8";
@font-face {
    font-family: 'Monaco';
    src: url('../fonts/monaco.ttf');
}
@font-face {
    font-family: 'AileronThin';
    src: url('../fonts/Aileron-Thin.ttf');
}
@font-face {
    font-family: 'AileronLight';
    src: url('../fonts/Aileron-Light.ttf');
}
@font-face {
    font-family: 'AileronRegular';
    src: url('../fonts/Aileron-Regular.ttf');
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:#E4E2DE;
	overflow:hidden;
  font-family: 'AileronLight';
  font-size: 9pt;
}

#header_bar{
  height:18px;
  width:100%;
  background-color: #2b3f54;
  line-height: 18px;
  vertical-align: middle;
  font-family: 'AileronThin';
  text-align: center;
  color: #FFF;
  background-image: url(../images/chevron-dark-blue.png);
  background-repeat: repeat;
}

#map_holder {
  height: 100%;
  width: 100%;
  background-color: #2b3f54;
  position: fixed;
  top: 18px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Icon CSS */

#map_icons {
  height: auto;
  width: auto;
  position: fixed;
  bottom: 60px;
  left: 10px;
}

.icon{
  height: auto;
  width: auto;
  margin-top:3px;
  cursor: pointer;
}

.icon-extra-space{
  padding-bottom:10px;
}

.icon-bg{
  color: #FFFFFF;
}

.icon-bg-highlight{
  color: #3e98d9;
}

.icon-symbol{
  color: #323432;
  /*color: #20374e; Foreflight color*/
}

.icon-symbol-light{
  color: #FFF;
}

/* Menu CSS */

#menu{
  height: 50px;
  width: 100%;
  background-color: #20374e;
  position: fixed;
  bottom: 0;
  color: #FFFFFF;
  background-image: url(../images/chevron-dark-blue.png);
  background-repeat: repeat;
  z-index: 2;
}

.menu_icon{
  height:100%;
  width: 50px;
  padding:0px;
  margin-top: auto;
  background-color: #293f55;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
}

.menu_area{
  height:100%;
  /*background-color: #FFFFFF;*/
}

.menu_left{
  float:left;
  /*margin-left:10px;*/
}
.menu_right{
  float:right;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  /*margin-right:10px;*/
}

.slow_background{
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.error_notice{
  background-color: red;
}

.error_notice_icon{
  color:red;
}

#terminal_button{

}

.menu_center{
  margin: 0 auto;
  width: 70%;
  padding: 5px;
}

/* Status Bar Css */

.status_bar{
  width:100px;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  padding:2px;
  border-radius: 5px;
  color: rgba(255, 255, 255, .9);
  font-size: 8pt;
}

.status_bottom_left{
  right: 10px;
  bottom: 60px;
}

.status_top_right{
  left: 10px;
  top: 28px;
}

.status_field{
  width: 100%;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
  text-align: left;
}

.status_field > span{
  display: inline-block;
  display: -moz-inline-box;
  zoom: 1; /* Trigger hasLayout */
  width: 45%;
  float: right;
  /*border-right: 1px solid #e7ebee;*/
  font-family: 'AileronThin';
}

.status_field > span:first-child{
  text-align: right;
  float: left;
  width: 45%;
}

.status_field_sep{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, .9);
}

/* Info Bar CSS */

#info_bar{
  width:250px;
  height:380px;
  position: fixed;
  display: block;
  top: 35px;
  left: 15px;
  background-color: #2b3f54;
  border-radius: 5px;
  padding:5px;
  color: #FFF;
}

#info_header{
  text-align: center;
  font-family: 'AileronRegular';
  line-height: 11px;
  overflow: hidden;
}

#info_header span{
  display:block;
  font-family: 'AileronThin';

}

#info_body_container{
  margin-top: 5px;
  overflow: hidden;
  height: 322px;
  background-color: #FFF;
  color: #333;
}

#info_body{
  /*width:230px;*/
  height:100%;
  overflow: scroll;
}

#info_buttons{
  width:100%;
  height:25px;
  padding-top: 5px;
  cursor: pointer;
}

.middle_button{
  /*border-left: 1px solid #e7ebee;*/

}

#info_buttons > div {
  display: inline-block;
  display: -moz-inline-box;
  zoom: 1; /* Trigger hasLayout */
  width: 33.3333%;
  text-align: center;
  background-color: #1b1e21;
  height: 25px;
  vertical-align: middle;
  line-height: 25px;
  /*border-right: 1px solid #e7ebee;*/
  font-family: 'AileronThin';
}

#info_buttons>div:hover{
  background-color: #000;
  color: #FFF;
}

#info_main_status{
  height: 30px;
  background-color: #e7ebee;
  border-bottom: 1px solid #d6dce0;
}

#info_main_status_marker{
  display: inline-block;
  height: 100%;
  padding-left: 6px;
}

.status_circle{
  display: inline-block;
  transform: translate(0%,50%);
}

.status_circle_text{
  display: inline-block;
  transform: translate(0%,25%);
  line-height: 20px;
}

#info_main_status_time{
  display: inline-block;
  height: 100%;
  padding-right: 6px;
  transform: translate(0%,25%);
  float: right;
}

#info_scroll_zone{
  width: 100%;
  /*height: 20px;*/
}

.text_zone{
  background-color: #FFFFFF;
  font-family: 'AileronRegular';
  padding: 5px;
  border-bottom: 1px solid #d6dce0;
}

.green{
  color: #00c729;
}

.title_zone{
  width: 100%;
  background-color: #e5e9ec;
  height: 25px;
  text-align: left;
  padding-left: 5px;
  line-height: 25px;
  vertical-align: middle;
  color: 757e84;
  font-family: 'AileronThin';
  text-transform: uppercase;
  border-bottom: 1px solid #d6dce0;
}

.field_box{
  width: 100%;
  background-color: #f5f5f5;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  border-bottom: 1px solid #d6dce0;
  text-align: left;
  color: #162a93;
}
.field_box > span{
  display: inline-block;
  display: -moz-inline-box;
  zoom: 1; /* Trigger hasLayout */
  width: 50%;
  float: right;
  /*border-right: 1px solid #e7ebee;*/
  font-family: 'AileronThin';
}

.field_box > span:first-child{
  text-align: right;
  float: left;
  color: #000;
  width: 33%;
}

.selected {
  color: #1b1e21 !important;
  background-color: #FFF !important;
}
